[run]
source = 
    ../src
    src
omit = 
    */tests/*
    */venv/*
    */__pycache__/*
    */migrations/*
branch = False
parallel = False

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod 
